.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  display: grid;
  grid-template: auto max-content auto / auto max-content auto;
}
