.form {
  box-sizing: border-box;
  width: 430px;
  height: 320px;
  margin: 0;
  padding: 36px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 618px){
  .form {
    width: 282px;
  height: 322px;
  padding: 25px 22px;
  }
}
